// Item Actions (Override to show label)
.item-action-filter-override .control-label {
  display: block !important;
}

// Settings Tab - Minimize section
i.hamburger-hide {
  float: right;
}

li.items-header i.fas.fa-bars.hamburger-hide {
  margin-right: 1em;
}
