<ul class="skills-list">
  {{#each config.skills as |label s|}}
    {{#with (lookup ../data.skills s) as |skill|}}
    <li class="skill {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
      <a class="config-button" data-action="skill" title="{{localize 'DND5E.SkillConfigure'}}"><i class="fas fa-cog"></i></a>

      <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">

      <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>

      <span class="skill-ability" title="{{localize 'DND5E.Ability'}}">{{skill.ability}}</span>

      <h4 class="skill-name rollable" title="{{localize 'OCD5E.RollSkillCheck'}}">{{label}}</h4>

      <span class="skill-mod" title="{{localize 'DND5E.Modifier'}}">{{numberFormat skill.total decimals=0 sign=true}}</span>
      <span class="skill-passive" title="{{label}} ({{ localize 'DND5E.Passive' }})">{{skill.passive}}</span>

    </li>
    {{/with}}
  {{/each}}
</ul>
