<div class="notes-container">
  <div class="top-notes note-entries">
    <article>
      <ul class="character-details">
        <li><span>{{ localize "OCD5E.Gender" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-gender" data-maxlength="40">{{data.details.gender}}</span><input data-input="{{actor._id}}-gender" type="hidden" name="data.details.gender" value="{{data.details.gender}}"></li>
        <li><span>{{ localize "OCD5E.Age" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-age" data-maxlength="5">{{data.details.age}}</span><input data-input="{{actor._id}}-age" type="hidden" name="data.details.age" value="{{data.details.age}}"></li>
        <li><span>{{ localize "OCD5E.Height" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-height" data-maxlength="20">{{data.details.height}}</span><input data-input="{{actor._id}}-height" type="hidden" name="data.details.height" value="{{data.details.height}}"></li>
        <li><span>{{ localize "OCD5E.Weight" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-weight" data-maxlength="20">{{data.details.weight}}</span><input data-input="{{actor._id}}-weight" type="hidden" name="data.details.weight" value="{{data.details.weight}}"></li>
        <li><span>{{ localize "OCD5E.Eyes" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-eyes" data-maxlength="40">{{data.details.eyes}}</span><input data-input="{{actor._id}}-eyes" type="hidden" name="data.details.eyes" value="{{data.details.eyes}}"></li>
        <li><span>{{ localize "OCD5E.Skin" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-skin" data-maxlength="40">{{data.details.skin}}</span><input data-input="{{actor._id}}-skin" type="hidden" name="data.details.skin" value="{{data.details.skin}}"></li>
        <li><span>{{ localize "OCD5E.Hair" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-hair" data-maxlength="40">{{data.details.hair}}</span><input data-input="{{actor._id}}-hair" type="hidden" name="data.details.hair" value="{{data.details.hair}}"></li>
      </ul>
    </article>
  </div>
  <div class="main-notes">
    <div class="left-notes note-entries">
      <article>
        <div class="section-titles biopage">{{ localize "DND5E.PersonalityTraits" }}</div>
        {{editor content=data.details.trait target="data.details.trait" button=true owner=owner editable=editable}}
      </article>
      <article>
        <div class="section-titles biopage">{{ localize "DND5E.Ideals" }}</div>
        {{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner editable=editable}}
      </article>
      <article>
        <div class="section-titles biopage">{{ localize "DND5E.Bonds" }}</div>
        {{editor content=data.details.bond target="data.details.bond" button=true owner=owner editable=editable}}
      </article>
      <article>
        <div class="section-titles biopage">{{ localize "DND5E.Flaws" }}</div>
        {{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner editable=editable}}
      </article>
    </div>

    <div class="right-notes note-entries">
      <article class="appearance-notes">
        <div class="section-titles biopage">{{ localize "DND5E.Appearance" }}</div>
        {{editor content=data.details.appearance target="data.details.appearance" button=true owner=owner editable=editable}}
      </article>
      <article class="biography-notes">
        <div class="section-titles">{{ localize "DND5E.Background" }}/{{ localize "DND5E.Biography" }}</div>
        {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
      </article>
    </div>
  </div>
</div>
